body { 
    padding-top: 40px !important;
    background-color: #eeeeee;
}
.navbar {
    background-color: #4a84de
}

.navbar a {
    color: #ffffff;
}

* {
    font-family: Georgia;
    font-weight:bold;
}

.bio p, .blurb p {
    font-family: Helvetica-Neue !important;
    font-weight:lighter !important;
}

.vertical-row {
    display: flex;
    align-items: center;
}

.odd {
    background-color:#96baf4
}

.even {
    background-color: #c9ddfc
}

h4 a {
    color:black!important;
}

.page-header{
    color:black !important
    font-weight:bolder !important;
    margin-bottom:0px !important;
}

strong {
    font-size: 24px !important;
}

.blurb a {
    color:black;
}