body { 
    padding-top: 40px !important;
}
.navbar {
    background-color: #96baf4
}

.navbar a {
    color: #ffffff;
}

* {
    font-family: Georgia;
}

.bio p, .blurb p {
    font-family: Helvetica-Neue !important;
}