{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang='en' {% endblock html_attribs %}

{%- block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
type="image/x-icon">

{%- block metas %}
{{ super() }}
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta maximum-scale=1.0"/>
{%- endblock metas %}

{%- block styles %}
{{ super() }}
<link href='static/styles.css' rel='stylesheet'>
{%- endblock styles %}

{%- endblock head%}

{% block title %}Alex Staninger{% endblock %}

{% block body %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" style='background-color: #0000ff'>
  <div class="container">
    <div class="navbar-header">
      <button type='button' class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Alex Staninger</a>
    </div>
    <div class="collapse navbar-collapse" id='myNavbar'>
      <ul class="nav navbar-nav">
        <li><a href="mailto:alex.staninger@gmail.com" target="_blank"> <img src="/static/gmail.svg" alt="Email icon." height=20 width=20> </a></li>
        <li><a href="https://github.com/astaninger" target="_blank"> <img src="/static/github.svg" alt="Github icon." height=20 width=20> </a></li>
        <li><a href="https://linkedin.com/in/alexestaninger" target="_blank"> <img src="/static/linkedin.svg" alt="Linkedin icon." height=20 width=20></a></li>
        <li><a href="https://twitter.com/alex_staninger" target="_blank"s> <img src="static/twitter.svg" alt="Twitter icon." height=20 width=20> </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">about</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/resume">resume</a></li>
      </ul>
    </div>
  </div>
</nav>

{%- endblock navbar %}


{% block content %}
<div class="container">
  <div class="page-header">
    <h3>About Me</h3>
  </div>
  <div class="bio">
    <p> Hello {{ ip }}, I am a recent (August 2018) UC San Diego graduate with a BS in Math-Computer Science. </p>
    <p>I am actively seeking a software development role. </p>
  </div>
</div>

{%- endblock content%}

{% block scripts %}
{{ super() }}
{% endblock scripts%}

{%- endblock body%}