{% extends "index.html" %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3>projects</h3>
  </div>
  <div class='blurb'>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='project-name col-md-2'>
      <h4><a href='http://genmatch.tech' target='_blank'>GenMatch</a></h4>
    </div>
    <div class='col-md-5'>
      <img src='/static/images/genmatch.jpg' alt='GenMatch' height=255 width=420>
    </div>
    <div class='blurb col-md-5'>
        <p>
          Using Python, designed and implemented a web application using Flask and the Twilio API that allows users to video chat and message people with different and similar genes from their own using the Genome Link API.
  Used the DocuSign API for written permission to use their genes ethically and Flask-SocketIO to handle Twilio
        </p>
      <a href='https://github.com/ishanley/GenMatch' target='_blank'>Github</a><br>
      <a href='https://devpost.com/software/genmatch' target='_blank'>Devpost</a><br>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class='row'>
    <div class='project-name col-md-2'>
      <h4><a href='https://speakout1.herokuapp.com' target='_blank'>SpeakOut</a></h4>
    </div>
    <div class='col-md-5'>
      <img src='/static/images/speakout.png' alt='SpeakOut' height=255 width=420>
    </div>
    <div class='blurb col-md-5'>
      <p>
        Using Python, designed and implemented a web application using Flask and the Google Maps API that allows gender,
  racial, sexual orientation minorities to post where they have had negative interactions, generating statistics to better
  inform others.
  Used MongoDB to store user data and used Flask-SocketIO to update maps in real-time.
      </p>
      <a href='https://www.github.com/astaninger/speakout' target='_blank'>Github</a><br>
      <a href='https://devpost.com/software/speakout-56zum9' target='_blank'>Devpost</a>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class='row'>
    <div class='project-name col-md-2'>
      <h4><a href='https://cse167finalprojectfall17.blogspot.com/' target='_blank'>Planet Forest Landing</a></h4>
    </div>
    <div class='col-md-5'>
      <iframe  src='https://www.youtube.com/embed/dhCvJr1ii_E?modestbranding=1&autohide=1&showinfo=0' alt='Planet Forest Landing' height=255 width=420 frameborder=0 allowfullscreen></iframe>
    </div>
    <div class='blurb col-md-5'>
      <p>
        Using C++, designed and implemented a program using the OpenGL API to view a scene with a rocket ship object and
  a flag made out of Bezier surfaces.
  With a team, implemented procedurally generated terrain, procedurally generated forest using L-systems, toon shading,
  linear fog, and added sound effects using the Irrklang and OpenGL API
      </p>
      <a href='https://cse167finalprojectfall17.blogspot.com/2017/11/blog-entry-1.html' target='_blank'>Blog Entry 1</a> <br>
      <a href='https://cse167finalprojectfall17.blogspot.com/2017/12/blog-entry-2.html'
      target='_blank'>Blog Entry 2</a>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class='row'>
    <div class='project-name col-md-2'>
      <h4><a href='https://github.com/astaninger/Pollcial' target='_blank'>Pollcial</a></h4>
    </div>
    <div class='col-md-5'>
      <img  src='static/images/poll.png' alt='Pollcial' height=340 width=200>
    </div>
    <div class='blurb col-md-5'>
      <p>
        Using Java and XML, designed a mobile application using Android Studio that allows people to create and vote on
  polls about decisions they don’t want to make themselves using Firebase to store user information. Worked on a team
  of 10 other people.
      </p>
    </div>
  </div>
</div>
<br>


{% endblock %}